version: "3.9"

services:
  server:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    ports:
      - "4000:4000"

  client:
    build:
      context: ./apps/client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - server
